<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h3 class="text-center" >Forgot your password?</h3>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            
              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
              </div>
            
              <div class="actions pt-2 ">
                <%= f.submit "Send", class: "btn btn-primary" %>
              </div>
            <% end %>
            <div class="pt-2">
              <%= link_to "Back to sign in", new_session_path(resource_name), style: "text-decoration: none;" %><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>