<div>
  <h3 style="padding-top: 20px;" >Management Contacts</h3>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: 20px;" scope="col">#</th>
        <th style="width: 90px" scope="col">Name</th>
        <th style="width: 90px" scope="col">Email</th>
        <th scope="col">Content</th>
        <th style="width: 35px;" scope="col"></ths>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each_with_index do |contact, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td style="word-wrap: break-word; white-space: normal;"><%= contact.content %></td>
          <td>
              <%= button_to 'Delete', admin_contact_path(contact), method: :delete,
  form: {data: {turbo_confirm: 'Are you sure?'}},class: "btn btn-link btn-sm btn-rounded", role: "button" %>
            <!-- <%= link_to "Destroy", admin_contact_path(contact), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %> -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>