<header>
  <nav id="sidebarMenu" class="sidebar collapse d-lg-block collapse bg-body-tertiary ">
    <div class="position-sticky">
      <div class="list-group-flush mx-3 mt-4 pt-2 ">
        <!-- <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fas fa-tachometer-alt fa-fw me-2"></i>
          <%= link_to 'Dashboard', admin_root_path %>
        </li> -->

        <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fa-solid fa-building fa-fw me-2"></i>
          <%= link_to 'Company', admin_companies_path %>
        </li>

        <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fa-solid fa-code fa-fw me-2"></i>
          <%= link_to 'Tax code', admin_companies_path %>
        </li>
      
        <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fa-solid fa-person fa-lg fa-fw me-2"></i>
          <%= link_to 'Person', admin_root_path %>
        </li>
        <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fa-solid fa-address-book fa-fw me-2"></i>
          <%= link_to 'Contacts', admin_contacts_path %>
        </li>
        <li class="list-group-item list-group-item-action py-3 active ripple h5" aria-current="true" >
          <i class="fas fa-chart-line fa-fw me-2"></i>
          <%= link_to 'Business Type', admin_root_path %>
        </li>
      </div>
    </div>
  </nav>

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="/admin">
        <img
          src="https://masothue.com/assets/images/175x42xlogo-masothue.png.pagespeed.ic.jF0RE_Y4qA.webp"
          height="40",
          alt="MST Logo",
          loading="lazy",
          style="padding-left: 27px;"
        />
      </a>

      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder='Search (ctrl + "/" to focus)'
          style="width: 500px"
        />
        <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item"> <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-small btn-primary mx-2" %></li>
        <% else %>
          <li class="nav-item"> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %></li>
          <li class="nav-item"> <%= button_to "Sign In", new_user_session_path, class: "btn btn-small border-dark rounded-3 btn-light mx-2"%></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
